Arthematic Operator

In [ ]:
# add (+)
# minus (-)
# division (/)
# modulus (%) gives the remainder when divide the numbers
# Exponentiation (**) calculate square root (2‚Å¥)
# floor division (//) rounding the result down to the nearest whole number

In [11]:
# change the list items
thislist = ["apple", "banana", "cherry"]
thislist[2] = [2.3]
print(thislist)

['apple', 'banana', [2.3]]

In [18]:
thislist[1:3] = 'diksha','sharma'
print(thislist)

['diksha', 'sharma']

In [19]:
thislist.append(10)
print(thislist)

['diksha', 'sharma', 10]

In [ ]:
# first give the index no than value
thislist.insert(2,20)
print(thislist)

['diksha', 'sharma', 20, 10, 2]

In [28]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
tropical.extend(thislist)
print(tropical)

['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry']

In [29]:
list = ["apple", "banana", "cherry"]
tup = ("kiwi", "orange")
list.extend(tup)
print(list)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [30]:
mylist = ['apple', 'banana', 'cherry']
mylist.insert(0, 'orange')
print(mylist[1])

apple

In [32]:
list = ["apple", "banana", "cherry"]
list.remove('apple')
print(list)

['banana', 'cherry']

In [34]:
list.remove('cherry')
print(list)

['banana']

In [50]:
# by default it will remove the last index value we can give the condition as well

list.pop(3)
print(list)

['apple', 'banana', 'cherry', 'zebra']

In [51]:
list.append("zebra")
print(list)

['apple', 'banana', 'cherry', 'zebra', 'zebra']

In [52]:
# sorting algorithm 
list.sort()
print(list)

['apple', 'banana', 'cherry', 'zebra', 'zebra']

In [8]:
list = ["apple", "banana", "cherry"]
print(list[1+1])

cherry

In [11]:
list = ["apple", "banana", "cherry",'apple']
list.remove('apple')
print(list)

['banana', 'cherry', 'apple']

In [4]:
for i in range(1,6):
  print(i,"squared",i*i)

1 squared 1
2 squared 4
3 squared 9
4 squared 16
5 squared 25

In [8]:
marks = [45, 89, 72, 33, 94]
marks.sort(reverse=True)
print("top scores",marks[:3])

top scores [94, 89, 72]