## Introduction

In [ ]:
# data types used in python programming 
''' 
1.Int: integer
2.float: decimal values
3.string: text information
4. boolean: true or false 
'''
# data type defination
# = : assignment operator
num = 100
'''num is variable
comparison operator ==
str = "hello"
boolean = True
boolean1 = False
what are the different types of data types
print() is a function 
#number becomes string if we put quotes "num" it will print as it is 
@ int + string = error 
@ srting + string = concat 
@ string * int = the values will be multiply 
@ string + int = will gives the 

'''

'num is variable\ncomparison operator ==\nstr = "hello"\nboolean = True\nboolean1 = False\nwhat are the different types of data types\n\n\n\n\n'

In [ ]:
# input function
num1 = input("enter the first number :")
num2 = input("enter the second number:")
print (num1 + num2)
# whatver values you will put in input func it will give the string and concat

enter the first number :enter the second number:

In [4]:
a= "1234"
b = "5678"
c = 10000
print(a+b)

12345678

In [ ]:
# input function
# use type casting string to integer 
# float can accept int and float as well but int can't be accept float.
num1 = int(input("enter the first number :"))
num2 =int (input("enter the second number:"))
print (num1 + num2)

300

In [10]:
# f string method
name = input("enter the name:")
age = float(input("enter the age in years:"))

print (f"the entered name of the person is {name} having age is {age}")

the entered name of the person is diksha  having age is 23.0